* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: #f4f7f9;
}
a {
  text-decoration: none;
}
header {
  height: 120px;
  width: 100%;
  background-color: #141618;
  display: flex;
  flex-direction: column;
  position: fixed;
}
nav {
  height: 120px;
  display: flex;
  justify-content: space-between;
}
ul {
  align-items: center;
}
li {
  list-style-type: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #a9aaab;
}
li a {
  color: #a9aaab;
}
li button {
  height: 35px;
  width: 85px;
  background-color: #278654;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
  line-height: 17px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
.search {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin: auto;
  margin-bottom: 1.5em;
}
.leftNav {
  height: 60px;
  width: 35vw;
  display: flex;
  justify-content: space-around;
}
.rightNav {
  height: 60px;
  width: 170px;
  margin-right: 1.5em;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
}
input {
  height: 40px;
  width: 95%;
  background-color: black;
  color: white;
}
main {
  height: 930px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #202836;
}
.text {
  height: 350px;
  width: 560px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  display: flex;
  flex-direction: column;
}
main p {
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #b0b6be;
}
main button {
  background-color: #1662ff;
  height: 50px;
  width: 250px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #1662ff;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 2.5em;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
main button:hover {
  background-color: #2662f0;
  height: 50px;
  width: 250px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #1662ff;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 2.5em;
  outline: none;
  cursor: pointer;
  transform: scale(1.05);
}
main img {
  height: 480px;
  width: 480px;
  transition: 0.2s;
}
main img:hover {
  height: 480px;
  width: 480px;
  transform: scale(1.05);
}
section {
  height: auto;
  display: flex;
  justify-content: space-around;
}
section .imgCol {
  height: 600px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 8em;
  margin-bottom: 8em;
}
section .imgRow {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
section .imgStyle {
  height: 180px;
  width: 180px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
section .imgStyle:hover {
  height: 180px;
  width: 180px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1.05);
}
.imgStyle h3 {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 20px;
}
section img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.content {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12em;
}
h3 {
  font-size: 36px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 2em;
}
p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}
.review {
  height: 300px;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.review p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 15px;
  color: #141618;
  font-weight: 400;
}
.review img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.review .imgText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
}
.createAcc {
  height: 622px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.createAcc button {
  background-color: #278654;
  height: 50px;
  width: 270px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #278654;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2em;
  transition: 0.2s;
}
.createAcc button:hover {
  background-color: #278654;
  height: 50px;
  width: 270px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #278654;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2em;
  transform: scale(1.05);
}
.createAcc img {
  height: 300px;
  width: 500px;
  margin-top: 20rem;
}
.heroImage {
  height: 500px;
  width: 535px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  background-color: #141618;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
}
footer img {
  height: 35px;
  width: 100px;
}
.footerLinksCol {
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
}
.footerLinksRow {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 4em;
}
footer ul {
  text-transform: uppercase;
}
footer .linksHeadings {
  font-family: "avenir next", helvetica, "helvetica neue", "segoe ui", arial,
    sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
  margin-top: 1em;
  letter-spacing: 0.1em;
}
footer .links {
  font-family: "avenir next", helvetica, "helvetica neue", "segoe ui", arial,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
}
footer .search {
  height: 100px;
  width: 500px;
}
footer h3 {
  font-family: "avenir next", helvetica, "helvetica neue", "segoe ui", arial,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: white;
}
input {
  height: 50px;
  border-radius: 5px;
  background-color: #21252d;
  color: white;
  border: none;
  padding-left: 10px;
  outline: none;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
footer .searchBtn img {
  height: 45px;
  width: 45px;
  background: #316aff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.footerSearch {
  margin-right: 2em;
  width: 430px;
}
footer .searchtxt {
  display: flex;
}
footer .lastRow {
  height: 200px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid hsla(0, 0%, 100%, 0.05);
  margin-top: 2em;
  color: white;
}
.lastRow .links {
  font-family: Helvetica;
  color: white;
  width: 20%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.links a {
  text-decoration: none;
  color: #a9aaab;
  text-transform: none;
  transition: 0.2s;
}
.links a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  text-transform: none;
  transform: scale(1.05);
}
.links p {
  font-size: 14px;
  line-height: 16px;
  color: #a9aaab;
}
.links li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
