* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: #f4f7f9;
}
a {
  text-decoration: none;
}
header {
  height: 60px;
  width: 100%;
  background-color: #141618;
}
nav {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
ul {
  margin-top: 1.5em;
}
li {
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  color: white;
}
li a {
  color: white;
}
li button {
  height: 25px;
  width: 80px;
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
}
.leftNav {
  height: 100px;
  width: 35vw;
  display: flex;
  justify-content: space-around;
}
.rightNav {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
}
input {
  height: 40px;
  width: 80%;
  background-color: black;
  color: white;
}
main {
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #202836;
}
.text {
  height: 350px;
  width: 560px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  display: flex;
  flex-direction: column;
}
main p {
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #b0b6be;
}
main button {
  background-color: #1662ff;
  height: 50px;
  width: 250px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #1662ff;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 5em;
}
main img {
  height: 480px;
  width: 480px;
}
section {
  height: auto;
  display: flex;
  justify-content: space-around;
}
section .imgCol {
  height: 600px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 8em;
  margin-bottom: 8em;
}
section .imgRow {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
section .imgStyle {
  height: 180px;
  width: 180px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgStyle h3 {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 20px;
}
section img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.content {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12em;
}
h3 {
  font-size: 36px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 2em;
}
p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}
.review {
  height: 300px;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.review p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 36px;
  color: #141618;
  font-weight: 400;
}
.review img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.review .imgText {
  display: flex;
  align-items: center;
}
.createAcc {
  height: 622px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.createAcc button {
  background-color: #278654;
  height: 50px;
  width: 270px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #278654;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2em;
}
.createAcc img {
  height: 300px;
  width: 500px;
  margin-top: 20rem;
}
.heroImage {
  height: 500px;
  width: 535px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  background-color: #141618;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 700px;
}
footer img {
  height: 35px;
  width: 100px;
}
.footerLinksCol {
  height: 200px;
  width: 250px;
  background-color: violet;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
}
.footerLinksRow {
  height: 200px;
  width: 100%;
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  text-transform: uppercase;
}
footer li .linksHeading {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2rem;
  letter-spacing: 0.1em;
}
footer li .links {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
footer .search {
  height: 100px;
  width: 500px;
}
footer h3 {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: white;
}
footer input {
  height: 45px;
  border-radius: 5px;
  background-color: #21252d;
  color: white;
  border: none;
  padding-left: 5px;
  outline: none;
}
footer .searchBtn img {
  height: 45px;
  width: 45px;
  background: #316aff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
footer .searchtxt {
  display: flex;
}
